@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
}
.content {
	background-color: #E9DCCD;
	position: relative;
}
.nav {
	background-color: #030303;
	height: 90px;
	padding-left: 100px;
	padding-top: 10px
}
.nav img{
	float: top;
	padding-left: 70px;
	background-size: 60px;
}
.nav ul li{
	color: white;
	display: inline;
	font-size: 20px;
	padding: 0 25px;	
}
.nav ul{
	float: right;
	padding-top: 30px;
	padding-right: 120px;
}
.banner{
	background-image: url("banner-vcs.jpg");
	background-size: cover;
	background-position: center;
	height: 745px;
}
.doituyen h2{
	text-align: center;
	font-size: 70px;
	color: #C8630B;
	font-family: 'Chakra Petch', sans-serif;
}
.doituyen h3{
	text-align: center;
	font-size: 45px;
	font-family: 'Chakra Petch', sans-serif;
}
.textteam {
	padding-top: 20px;
}
.logoteam {
	padding-top: 30px;
}
.logoteam-pin1{
	text-align: center;
}
.logoteam-pin2{
	text-align: center;
}
.doituyen{
	padding: 20px 0 100px 0;
}
.livestream {
	background-image: url("banner-stream.jpg");
	background-size: cover;
	background-position: center;
	height: 800px;
}
.livestream h3{
	color: #C8630B;
	padding-top: 130px;
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;
}
.livestream p{
	color: white;
	font-size: 18px;
	font-family: 'Chakra Petch', sans-serif;
}
.canle {
	padding-right: 15%;
	padding-left: 15%;
}
.vetvlive {
	padding-top: 10px;
}
.livestream h4{
	color: white;
	display: inline;
}
.youtubeVETV{
	padding-top:10px;
}

.Standing{
	padding-top: 100px;
	height: 600px;
}
	.top1{
	text-align: center;
	float: left;
	padding-top: 30px;
	}
	.Standing h4{
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;
	color: #C8630B
	}
	.Standing, .top1-name{
	font-size: 40px;
	font-family: 'Chakra Petch', sans-serif;
	color: #C8630B
	}
.top2-8{
	text-align: right;
	float: right;
	padding-top: 50px;
}
	.standing-text{
	text-align: right;
	color: #C8630B;
	padding-top: 30px;
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;
}
	.Standing, .s-rank{
	color: #000000;
	padding-top: 5px;
	font-size: 20px;
	font-family: 'Chakra Petch', sans-serif;
}
.top2-8 hr{
	color: black;
	size: 5px;
}
.top2-8 h5{
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #c8630b;
}

.MVPxnews {
	height: 600px;
	background-image: url("background-mvp.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}

.MVPtext {
	text-align: center;
	color: #C8630B;
	padding-top: 80px;
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;	
}

.MVPbox-overview{
	text-align: center;
}

.MVPPP{
	display: inline-block;	
}

.MVPlist{
	text-align: center;
}

.bg-box{
	background-image: url("mvp-bg-box.png");
	text-align: center;
	width: 224px;
	height: 280px;
}
.MVPbox-overview h5{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 20px;
	padding-top: 3px;
}
.MVPbox-overview p{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 14px;
}
	.MVPbox{
		float: left;
		padding: 0 20px 0 0;
	}
	.MVPbox2{
		float: left;
		padding: 0 20px 0 0;
	}
	.MVPbox3{
		float: left;
		padding: 0 20px 0 0;
	}
	.MVPbox4{
		float: left;
		padding: 0 20px 0 0;
	}
	.MVPbox5{
		float: left;
		padding: 0 20px 0 0;
	}
.MVPbox2 h5{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 20px;
	padding-top: 3px;
}
.MVPbox2 p{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 14px;
}
.MVPbox3 h5{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 20px;
	padding-top: 3px;
}
.MVPbox3 p{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 14px;
}
.MVPbox4 h5{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 20px;
	padding-top: 3px;
}
.MVPbox4 p{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 14px;
}
.MVPbox5 h5{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 20px;
	padding-top: 3px;
}
.MVPbox5 p{
	text-align: center;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 14px;
}
.footer {
	background-color: #030303;
	position: relative;
	height: 250px;
}
.logo-riotxgarena{
	padding-top: 50px;
	text-align: center;
}
.information{
	padding-top: 20px;
	text-align: center;
}
.footer p{
	font-size: 10px;
	color: white;
}
