@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
}
.content {
	background-color: #E9DCCD;
	position: relative;
}
.nav {
	background-color: #030303;
	height: 90px;
	padding-left: 100px;
	padding-top: 10px
}
.nav img{
	float: top;
	padding-left: 70px;
	background-size: 60px;
}
.nav ul li{
	color: white;
	display: inline;
	font-size: 20px;
	padding: 0 25px;	
}
.nav ul{
	float: right;
	padding-top: 30px;
	padding-right: 120px;
}
.banner{
	background-image: url("banner-vcs.jpg");
	background-size: cover;
	background-position: center;
	height: 745px;
}
.doituyen h2{
	text-align: center;
	font-size: 70px;
	color: #C8630B;
	font-family: 'Chakra Petch', sans-serif;
}
.doituyen h3{
	text-align: center;
	font-size: 45px;
	font-family: 'Chakra Petch', sans-serif;
}
.textteam {
	padding-top: 20px;
}
.logoteam {
	padding-top: 30px;
}
.logoteam-pin1{
	text-align: center;
}
.logoteam-pin2{
	text-align: center;
}
.tendoituyen{
	display: inline;
}
.doituyen{
	padding: 20px 0 100px 0;
}
.livestream {
	background-image: url("banner-stream.jpg");
	background-size: cover;
	background-position: center;
	height: 800px;
}
.livestream h3{
	color: #C8630B;
	padding-top: 130px;
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;
}
.livestream p{
	color: white;
	font-size: 18px;
	font-family: 'Chakra Petch', sans-serif;
}
.canle {
	padding-right: 15%;
	padding-left: 15%;
}
.vetvlive {
	padding-top: 10px;
}
.livestream h4{
	color: white;
	display: inline;
}
.logoyt{
	padding-top: 15px;
}
.Standing{
	padding-top: 100px;
	height: 550px;
}
	.top1{
	text-align: center;
	float: left;	
	}
	.Standing h4{
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;
	color: #C8630B
	}
	.Standing, .top1-name{
	font-size: 40px;
	font-family: 'Chakra Petch', sans-serif;
	color: #C8630B
	}
.top2-8{
	text-align: right;
	float: right;
}
	.standing-text{
	text-align: right;
	color: #C8630B;
	padding-top: 30px;
	font-size: 60px;
	font-family: 'Chakra Petch', sans-serif;
}
	.Standing, .s-rank{
	color: #000000;
	padding-top: 5px;
	font-size: 20px;
	font-family: 'Chakra Petch', sans-serif;
}
.top2-8 hr{
	color: black;
	size: 5px;
}
.top2-8 h5{
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #c8630b;
}
.footer {
	background-color: #030303;
	position: relative;
	height: 200px;
}
.logo-riotxgarena{
	padding-top: 80px;
	float: left;	
}
.information{
	padding-top: 60px;
	text-align: right;
}
.footer p{
	font-size: 10px;
	color: white;
	
}
